body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BUTTONS */
a {
  margin: 4px auto;
  padding: 4px;
}
a:hover {
  box-shadow: 2px 2px 4px gray;
}
a > button {
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  font-weight: 800;
}
a:hover > button {
  color: rgb(0, 0, 153);
}

.drpdwn {
  display: flex;
}

header {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headerBackground {
  width: inherit;
  height: inherit;
  opacity: 0.8;
  position: absolute;
  object-fit: fill;
  z-index: -1;
}
header > h1 {
  flex: 2;
  color: yellow;
  margin: 4px;
  padding: 4px;
  font-size: 60px;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(59, 59, 59);
}
header > div {
  margin: 0;
  align-self: baseline;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  gap: 2%;
}

.homepage {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage > .infoList {
  width: 1200px;
  height: 160px;
  display: block;
}
.homepage > .infoList > ul {
  color: rgb(68, 68, 68);
  margin: 45px auto;
  padding: 0;
  list-style: none;
  text-align: center;
  font-weight: 900;
}
.homepage > .allFeatures {
  width: inherit;
  height: 660px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.homepage > .allFeatures > .feature {
  flex-basis: 590px;
  height: 650px;
  margin: 0 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.homepage > .allFeatures > .feature > .featureImg {
  width: 350px;
  height: 350px;
}
.homepage > .allFeatures > .feature > .featureInfo {
  width: 350px;
  /* height: 250px; */
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage > .allFeatures > .feature > .featureInfo > ul {
  padding: 0;
  text-align: start;
  font-weight: 500;
}
.homepage > .info {
  width: inherit;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.homepage > .info > p {
  color: red;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}
.homepage > .contactUs {
  width: inherit;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage > .contactUs > a {
  background-color: rgb(255, 255, 255);
  width: 40%;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid blue;
}
.homepage > .contactUs > a:hover {
  background-color: rgb(78, 78, 255);
  box-shadow: 2px 2px 4px gray;
}
.homepage > .contactUs > a > button {
  color: blue;
  background-color: transparent;
  border: none;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 2px;
}
.homepage > .contactUs > a:hover > button {
  color: rgb(255, 255, 255);
}

footer {
  background-color: rgb(197, 197, 188);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 900;
}

@media (min-width: 1500px) {
  .homepage > .allFeatures {
    height: 740px;
  }
  .homepage > .allFeatures > .feature {
    height: 650px;
  }
  .homepage > .allFeatures > .feature > .featureImg {
    background-color: rgb(0, 216, 108);
    width: 400px;
    height: 400px;
  }
  .homepage > .allFeatures > .feature > .featureInfo {
    width: 400px;
    /* height: 280px; */
  }
}
@media (max-width: 1200px) {
  header {
    height: 250px;
  }
  header > h1 {
    flex: 1;
    font-size: 42px;
  }
  header > div {
    flex: 1;
  }
  .homepage > .infoList {
    width: 800px;
  }
  .homepage > .allFeatures {
    height: 520px;
  }
  .homepage > .allFeatures > .feature {
    width: 240px;
    height: 400px;
  }
  .homepage > .allFeatures > .feature > .featureImg {
    width: 240px;
    height: 240px;
  }
  .homepage > .allFeatures > .feature > .featureInfo {
    width: 80%;
    /* height: 250px; */
  }
}
@media (max-width: 800px) {
  header {
    width: 100%;
  }
  header > h1 {
    flex: 1;
    font-size: 30px;
  }
  .homepage > .infoList {
    width: inherit;
  }
  .homepage {
    width: 100%;
  }
  .homepage > .allFeatures {
    height: 100%;
    flex-direction: column;
    gap: 0;
  }
  .homepage > .allFeatures > .feature {
    width: 98%;
    height: 480px;
  }
  .homepage > .allFeatures > .feature {
    margin: 10px 10px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: auto;
    height: auto;
  }
  .homepage > .allFeatures > .feature > .featureImg {
    width: 230px;
    height: 230px;
  }
  .homepage > .allFeatures > .feature > .featureInfo {
    margin: 0 auto;
    width: inherit;
    /* height: 230px; */
    align-items: center;
  }
  .homepage > .allFeatures > .feature > .featureInfo > ul {
    padding: 10px;
    text-align: center;
    list-style: none;
  }
}
@media (max-width: 400px) {
  header > h1 {
    flex: 1;
    font-size: 20px;
  }
  .homepage > .allFeatures > .feature {
    flex-direction: column;
  }
}
